{% extends "template/layout.html" %}
{% block title %} CityU Sport Facility {% endblock %}
{% block header %}

<!--<img class="img-responsive" src="/img/me_square_white.png" alt="">-->
<div class="intro-text">
    <span class="name">CityU Sport Facility</span>
    <!--<hr class="star-light">-->
    <span class="skills">An unofficial app for Sport facility booking system in City University of Hong Kong</span>
</div>

{% endblock %}

{% block content %}

<!-- Portfolio Grid Section -->
<section>
    <div class="container">
        <div class="row vertical-center">
            <div class="col-lg-8">
                <img src="/img/portfolio/usports_mocking.png" class="img-responsive" alt="USports" ">
            </div>
            <div class="col-lg-4 text-center">
                <h2>Wa!</h2>
                <hr class="star-primary">
                <p>
                    CityU Sport Facility is an unofficial app for Sport facility booking system in City University of Hong Kong.
                </p>
                <p>
                    It now supports iOS and Android, and both are open source on Github.
                </p>
                <p>
                    <i class="fa fa-apple"></i> | <a href="https://itunes.apple.com/hk/app/cityu-sport-facility/id961521450?mt=8&uo=4" target="_blank"><i class="fa fa-download"></i> App Store</a> | <a href="https://github.com/Aahung/cityu-sports" target="_blank"><i class="fa fa-github"></i> Github</a>
                </p>
                <p>
                    <i class="fa fa-android"></i> | <a href="http://aahung.github.io/cityu-sports-android/" target="_blank"><i class="fa fa-download"></i> Project Page</a> | <a href="https://github.com/Aahung/cityu-sports-android" target="_blank"><i class="fa fa-github"></i> Github</a>
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock %}